#first-content{
	width:100%;
}
#second-content{
	width:100%;
}


@media screen and (min-width: 600px){	
}

@media screen and (min-width: 900px){	
	#first-content{
		width:50%;
		float:left;
	}
	#second-content{
		width:50%;
		float:right;
	}
}

@media screen and (min-width: 1200px){	
}

