// colours
$textColour: #2F2D2E;
$highlightColour: #1fb3a9;
$navBGcolour: #ffffff;
$mainBGcolour: #f7feff;
$edgesBGcolour: #B8C4BB;
$secondaryColour: #1C3144;

// sizes
$navHeight: 70px;
$navWidth: 1200px;
$contentWidth: 1150px;
$leftGutter: 15px;
$footerHeight: 52px;

$highlightBorder: 1px solid $highlightColour;
$shadow: 0 0 10px rgba(0, 0, 0, 0.27);

// MAIN COMPONENTS

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: $textColour;
	background-color: $edgesBGcolour;
	font-family: 'Lato', sans-serif;
	line-height: 1.4em;
}

img {
	max-width: 100%;
}

#navigation {
	background-color: $navBGcolour;
	position: fixed;
	z-index: 10;
	width: 100%;
	border-bottom: $highlightBorder;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.27);
}

a {
	color: $highlightColour;
}

h1, h2, h3 {
	color: $highlightColour;
	font-weight: 700;
}

h1 {
	font-size: 2em;
	margin: 30px $leftGutter 20px $leftGutter;
	line-height: 1em;
}

h2 {
	font-size: 1.5em;
	margin: 30px $leftGutter 15px $leftGutter;
	line-height: 1em;
}

h2 a {
	text-decoration: none;
}

p {
	margin: 0 $leftGutter 10px $leftGutter;
}

a.button {
	color: $navBGcolour;
	padding: 10px 40px 10px 40px ;
	border: $highlightBorder;
    border-radius: 5px;
    background: $highlightColour;
	text-transform: uppercase;
	text-decoration: none;
}

label {
	vertical-align: top;
	display: inline-block;
    width: 170px;
}

input[type=text] {
    border: $highlightBorder;
    border-radius: 2px;
    width: 200px;
}

select {
    border: $highlightBorder;
    border-radius: 2px;
    width: 200px;
}

textarea {
	margin-top: 5px;
    border: $highlightBorder;
    border-radius: 2px;
    width: 400px - (2 * $leftGutter);
    height: 200px;
}


// NAVIGATION

nav {
	max-width: $navWidth;
	height: $navHeight;
	margin: auto;
}

#logo{
	height: $navHeight - 10px;
	margin-top: 5px;
	margin-left: $leftGutter;
}

#menu-icon {
	float: right;
	width: 40px;
	height: 40px;
	margin: $leftGutter;
}

nav ul {
	width: 100%;
	display: none;
	margin: 0;
}

nav li {
    background: $navBGcolour;
    color: $highlightColour;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	line-height: 60px;
	border-bottom: $highlightBorder;
	list-style-type: none;
	margin: 0;
}

nav li:first-of-type {
	border-top: $highlightBorder;
}

nav li a{
	text-decoration: none;
	color: $highlightColour;
}

.sub-menu{
	font-size:0.8em;
	border-bottom: none;
	line-height:30px;
}

.sub-menu li{
	line-height:30px;
}

// MAIN BODY

#main-body {
	max-width: $contentWidth;
	margin: auto;
	padding-top: $navHeight;
	background-color: $mainBGcolour;
    box-shadow: $shadow;
}

ul, ol{
	margin: 0 $leftGutter 10px $leftGutter;
	display: inline-block;
}

li{
	list-style-type: square;
    margin-left: 18px; 
}

#primary-content{
	padding-top: 20px;
	padding-bottom: 50px;
}

#secondary-content{
	padding-top: 20px;
	padding-bottom: 50px;
	color: $mainBGcolour;
	background-color: $secondaryColour;
}

#footer{
	width: 100%;
	height: $footerHeight;
	clear:both;
	color: $navBGcolour;
	background-color: $highlightColour;
}

#legal1 {
	margin: 0 0 0 $leftGutter;
	line-height: $footerHeight;
	display: none;
}
#legal2 {
	margin: 0 0 0 $leftGutter;
	line-height: $footerHeight;
	display: block;
}

#social {
	margin: 10px $leftGutter 0 0;
	float: right;
}

.social-icon {
	margin: 0 0 0 10px;
}



table {
	margin: $leftGutter;
	font-size: 0.8em;
	background-color: $navBGcolour;
}

td {
	border: $highlightBorder;
	padding: 5px;
}

img.chart {
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: $leftGutter;
	border: $highlightBorder;
}

.gallery {
	margin: $leftGutter 0 $leftGutter 0;
}

.gallery-frame:first-of-type {
	width: 100%;
	display: block;
}

.gallery-frame {
	display: none;
}

.clear-all {
	width: 100%;
	clear: both;
}

// FEATURED SECTION

.featured-section {
	margin: 0 0 10px 0;
	padding: 1px 0 1px 0;
	width: 100%;
	background-color: $highlightColour;
	color: $navBGcolour;
}

.featured-section h2,
.featured-section a{
	color: $navBGcolour;
}

.featured-section h2,
.featured-section p{
	text-align: center;
	margin-top: 10px;
}




.button-holder {
	text-align: center;
	margin-top: 50px;
}

.text-photo {
	border-top: $highlightBorder;
	border-bottom: $highlightBorder;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; max-width: 100%;
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


.team-member{
	width:50%;
	float: left;		
	margin-bottom: 25px;
}
.team-member img{
	padding-left: $leftGutter;
	padding-right: $leftGutter;
}
.team-member h2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.team-member p{
	margin-top: 5px;
	margin-bottom: 5px;
}



@media screen and (min-width: 600px){	
	.text-photo {
		width: 50%;
		margin: 5px $leftGutter 5px 5px;
		border: $highlightBorder;
		float: right;
	}
	img.chart {
		width: 47%;
		margin-left: 2%;
		margin-bottom: $leftGutter;
		border: $highlightBorder;
	}

	.gallery {
		margin: $leftGutter;
	}

	.gallery-frame:first-of-type {
		position: relative;
		width: 66.66666%;
		padding-bottom: 44.44444%;
		float: left;
	}

	.gallery-frame {
		display: block;
		position: relative;
		width: 33.333333%;
		padding-bottom: 22.22222%;
		float: left;
		overflow: hidden;
	}

	.gallery-frame img{
	  position: absolute;
	  top: 0; bottom: 0; left: 0; right: 0;
	}
	#legal1 {
		display: block;
	}
	#legal2 {
		display: none;
	}
}

@media screen and (min-width: 900px){	

	nav ul {
		float: right;
		display: block;
		margin-right: $leftGutter;
		margin-bottom: 0;
		width: auto;
	}
	nav li {
		display: inline-block;
		text-align: left;
		line-height: $navHeight;
		border: none;
		margin-left: $leftGutter - 5;
		list-style-type: none;
	}
	.sub-menu{
		display: none;
		position: fixed;
		top: $navHeight;
		padding-top: 1px;
		z-index: 9;
	    box-shadow: $shadow;
		margin: 0;
	}
	.sub-menu li{
		display: block;
		line-height: 50px;
		text-align: center;
		border-bottom: $highlightBorder;
		padding: 0 $leftGutter 0 $leftGutter;
		margin: 0;
		list-style-type: none;
	}
	#aboutMenu{
		left: calc(100% - 725px);
		left: 20px;
	}
	nav li:first-of-type {
		border-top: none;
	}

	#menu-icon {
		display: none;
	}


	.featured-section{
		width: 50%;
		margin: 5px $leftGutter 5px $leftGutter;
		float: left;
		border: 1px solid #1fb3a9;
	}

}

@media screen and (min-width: 1200px){	
	nav li {
		margin-left: $leftGutter;
	}
	table.chart {
		width: 47%;
		margin: 0;
		margin-left: 2%;
		float: left;
	}
	#aboutMenu{
		left: calc(50% - 125px);
	}
	textarea {
	    width: 500px;
	}
}

