html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #2F2D2E;
  background-color: #B8C4BB;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em; }

img {
  max-width: 100%; }

#navigation {
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #1fb3a9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.27); }

a {
  color: #1fb3a9; }

h1, h2, h3 {
  color: #1fb3a9;
  font-weight: 700; }

h1 {
  font-size: 2em;
  margin: 30px 15px 20px 15px;
  line-height: 1em; }

h2 {
  font-size: 1.5em;
  margin: 30px 15px 15px 15px;
  line-height: 1em; }

h2 a {
  text-decoration: none; }

p {
  margin: 0 15px 10px 15px; }

a.button {
  color: #ffffff;
  padding: 10px 40px 10px 40px;
  border: 1px solid #1fb3a9;
  border-radius: 5px;
  background: #1fb3a9;
  text-transform: uppercase;
  text-decoration: none; }

label {
  vertical-align: top;
  display: inline-block;
  width: 170px; }

input[type=text] {
  border: 1px solid #1fb3a9;
  border-radius: 2px;
  width: 200px; }

textarea {
  margin-top: 5px;
  border: 1px solid #1fb3a9;
  border-radius: 2px;
  width: 370px;
  height: 200px; }

nav {
  max-width: 1200px;
  height: 70px;
  margin: auto; }

#logo {
  height: 60px;
  margin-top: 5px;
  margin-left: 15px; }

#menu-icon {
  float: right;
  width: 40px;
  height: 40px;
  margin: 15px; }

nav ul {
  width: 100%;
  display: none; }

nav li {
  background: #ffffff;
  color: #1fb3a9;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #1fb3a9; }

nav li:first-of-type {
  border-top: 1px solid #1fb3a9; }

nav li a {
  text-decoration: none;
  color: #1fb3a9; }

.sub-menu {
  font-size: 0.8em;
  border-bottom: none; }

.sub-menu li {
  line-height: 30px; }

.sub-menu li:first-of-type {
  border-top: none; }

#main-body {
  max-width: 1150px;
  margin: auto;
  padding-top: 70px;
  background-color: #f7feff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27); }

ul, ol {
  margin: 0 15px 10px 15px;
  display: inline-block; }

li {
  list-style-type: square;
  margin-left: 18px; }

#primary-content {
  padding-top: 20px;
  padding-bottom: 50px; }

#secondary-content {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #f7feff;
  background-color: #1C3144; }

#footer {
  width: 100%;
  height: 52px;
  clear: both;
  color: #ffffff;
  background-color: #1fb3a9; }

#legal1 {
  margin: 0 0 0 15px;
  line-height: 52px;
  display: none; }

#legal2 {
  margin: 0 0 0 15px;
  line-height: 52px;
  display: block; }

#social {
  margin: 10px 15px 0 0;
  float: right; }

.social-icon {
  margin: 0 0 0 10px; }

table {
  margin: 15px;
  font-size: 0.8em;
  background-color: #ffffff; }

td {
  border: 1px solid #1fb3a9;
  padding: 5px; }

img.chart {
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 15px;
  border: 1px solid #1fb3a9; }

.gallery {
  margin: 15px 0 15px 0; }

.gallery-frame:first-of-type {
  width: 100%;
  display: block; }

.gallery-frame {
  display: none; }

.clear-all {
  width: 100%;
  clear: both; }

.featured-section {
  margin: 0 0 10px 0;
  padding: 1px 0 1px 0;
  width: 100%;
  background-color: #1fb3a9;
  color: #ffffff; }

.featured-section h2,
.featured-section a {
  color: #ffffff; }

.featured-section h2,
.featured-section p {
  text-align: center;
  margin-top: 10px; }

.button-holder {
  text-align: center;
  margin-top: 50px; }

.text-photo {
  border-top: 1px solid #1fb3a9;
  border-bottom: 1px solid #1fb3a9; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.team-member {
  width: 50%;
  float: left;
  margin-bottom: 25px; }

.team-member img {
  padding-left: 15px;
  padding-right: 15px; }

.team-member h2 {
  margin-top: 5px;
  margin-bottom: 5px; }

.team-member p {
  margin-top: 5px;
  margin-bottom: 5px; }

@media screen and (min-width: 600px) {
  .text-photo {
    width: 50%;
    margin: 5px 15px 5px 5px;
    border: 1px solid #1fb3a9;
    float: right; }

  img.chart {
    width: 47%;
    margin-left: 2%;
    margin-bottom: 15px;
    border: 1px solid #1fb3a9; }

  .gallery {
    margin: 15px; }

  .gallery-frame:first-of-type {
    position: relative;
    width: 66.66666%;
    padding-bottom: 44.44444%;
    float: left; }

  .gallery-frame {
    display: block;
    position: relative;
    width: 33.333333%;
    padding-bottom: 22.22222%;
    float: left;
    overflow: hidden; }

  .gallery-frame img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

  #legal1 {
    display: block; }

  #legal2 {
    display: none; } }
@media screen and (min-width: 900px) {
  nav ul {
    float: right;
    display: block;
    margin-right: 15px;
    margin-bottom: 0;
    width: auto; }

  nav li {
    display: inline;
    text-align: left;
    line-height: 70px;
    border: none;
    margin-left: 15px; }

  .sub-menu li {
    display: block;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #1fb3a9;
    padding: 0 15px 0 15px;
    margin: 0; }

  .sub-menu ul {
    display: none;
    position: fixed;
    top: 72px;
    z-index: 9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    margin: 0; }

  #aboutMenu {
    left: calc(100% - 725px); }

  nav li:first-of-type {
    border-top: none; }

  #menu-icon {
    display: none; }

  .featured-section {
    width: 50%;
    margin: 5px 15px 5px 15px;
    float: left;
    border: 1px solid #1fb3a9; } }
@media screen and (min-width: 1200px) {
  table.chart {
    width: 47%;
    margin: 0;
    margin-left: 2%;
    float: left; }

  #aboutMenu {
    left: calc(50% - 125px); }

  textarea {
    width: 500px; } }

/*# sourceMappingURL=main.css.map */
